.Login-screen {
  align-items     : center;
  display         : flex;
  flex-direction  : column;
  height          : 100%;
  justify-content : center;
  overflow        : hidden;

  &__Paper {
    padding-bottom : 40px;
  }
}
